<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Mission08</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                Covey Task Manager
            </a>

            <div class="navbar-nav">
                <!-- Quadrants page -->
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    Quadrants
                </a>

                <!-- Add Task page -->
                <a class="nav-link" asp-controller="Home" asp-action="Add">
                    Add Task
                </a>
            </div>

        </div>
    </nav>

    <div class="container mt-4">
        @RenderBody()
    </div>

</body>
</html>