@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Mission8Assignment.Models.TaskModel>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="covey-matrix">
                <!-- Row 1: Title inside matrix -->
                <div class="row covey-row covey-title-row">
                    <div class="col-12 text-center covey-title">
                        Stephen Covey's Time Management Matrix
                    </div>
                </div>

                <!-- Row 2: blank | Urgent | Not Urgent -->
                <div class="row covey-row">
                    <div class="col-2 covey-cell covey-empty"></div>
                    <div class="col-5 covey-cell text-center covey-header">
                        Urgent
                    </div>
                    <div class="col-5 covey-cell text-center covey-header">
                        Not Urgent
                    </div>
                </div>

                <!-- Row 3: Important | Quadrant 1 | Quadrant 2 -->
                <div class="row covey-row">
                    <div class="col-2 covey-cell covey-side">
                        <span>Important</span>
                    </div>
                    <div class="col-5 covey-cell covey-quadrant-cell">
                        <div class="covey-quadrant-title">Quadrant 1</div>
                        <div class="covey-task-list">
                            @if (ViewBag.Tasks != null)
                            {
                                var quadrant1Tasks = ((IEnumerable<Mission8Assignment.Models.TaskModel>)ViewBag.Tasks)
                                    .Where(t => t.Quadrant == 1);
                                @foreach (var task in quadrant1Tasks)
                                {
                                    <div class="covey-task-item">@task.TaskName</div>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-5 covey-cell covey-quadrant-cell">
                        <div class="covey-quadrant-title">Quadrant 2</div>
                        <div class="covey-task-list">
                            @if (ViewBag.Tasks != null)
                            {
                                var quadrant2Tasks = ((IEnumerable<Mission8Assignment.Models.TaskModel>)ViewBag.Tasks)
                                    .Where(t => t.Quadrant == 2);
                                @foreach (var task in quadrant2Tasks)
                                {
                                    <div class="covey-task-item">@task.TaskName</div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <!-- Row 4: Not Important | Quadrant 3 | Quadrant 4 -->
                <div class="row covey-row">
                    <div class="col-2 covey-cell covey-side">
                        <span>Not Important</span>
                    </div>
                    <div class="col-5 covey-cell covey-quadrant-cell">
                        <div class="covey-quadrant-title">Quadrant 3</div>
                        <div class="covey-task-list">
                            @if (ViewBag.Tasks != null)
                            {
                                var quadrant3Tasks = ((IEnumerable<Mission8Assignment.Models.TaskModel>)ViewBag.Tasks)
                                    .Where(t => t.Quadrant == 3);
                                @foreach (var task in quadrant3Tasks)
                                {
                                    <div class="covey-task-item">@task.TaskName</div>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-5 covey-cell covey-quadrant-cell">
                        <div class="covey-quadrant-title">Quadrant 4</div>
                        <div class="covey-task-list">
                            @if (ViewBag.Tasks != null)
                            {
                                var quadrant4Tasks = ((IEnumerable<Mission8Assignment.Models.TaskModel>)ViewBag.Tasks)
                                    .Where(t => t.Quadrant == 4);
                                @foreach (var task in quadrant4Tasks)
                                {
                                    <div class="covey-task-item">@task.TaskName</div>
                                }
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>